.nav{
        width: 200px;
        height: 200px;
        background-color: black;
    }
  
.footer{
    width: 600px;
    height: 600px;
    background-color: pink;

}
.all{
    width: 800px;
    height: 800px;
    background-color: purple;
}